@import 'bootstrap';
@import 'bootstrap-icons';

/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


/*Commons*/

:root {
  --mhd-dark: rgb(49, 48, 48);
  --mhd-darker: black;
  --mhd-light: rgba(255, 255, 255, 0.792);
  --mhd-lighter: white;
  --mhd-primary: #e85d75;
  --mhd-primary-soft: #f7c59f;
  --mhd-secondary: #20a39e;
  --mhd-accent: #3185fc;
}



/* Utilities */

.btn-general {
  background-color: var(--mhd-secondary);
  color: white;
}

.btn-general:hover {
  background-color: white;
  color: var(--mhd-secondary);
  border: 1px solid var(--mhd-secondary);
}


/* Body */

body {

  h1,
  h2,
  h3,
  h4 {
    font-family: 'Lexend Deca Variable', sans-serif;
    font-weight: 500;
  }

  font-family: 'Red Hat Text Variable',
  sans-serif;


}

/* #region Header */

/* banner free shipping */
.shipping-banner {
  background-color: var(--mhd-primary);
  color: #fff;
  font-weight: 600;
  line-height: 2rem;
  vertical-align: 2rem;
}


/* header */

header {
  position: sticky;
  top: 0;
  z-index: 4;
  background-color: transparent;
  transition: background-color 0.3s ease;

}

header.scrolled {
  background-color: var(--mhd-primary-soft);
}


/* Navbar */
.navbar-collapse {
  flex-grow: 0;
}

.navbar-nav {
  padding: 0;

  @media screen and (min-width: 576px) and (max-width: 767.9px) {
    .nav-link {
      font-size: 12.5px;
    }
  }
}

.navbar-toggler {
  padding: 0.5rem 0.75rem;
  font-size: 0.8rem;
}

.navbar-toggler:focus {
  box-shadow: none;
}

.logo {
  width: 300px;

  @media screen and (max-width: 767.9px) {
    width: 240px;
    height: auto;
    padding-left: 1rem;

  }

  @media screen and (max-width: 568px) {
    width: 200px;
    height: auto;
  }
}

#iconsContainer {
  flex: 0 0 auto;
}

@media screen and (max-width: 767.9px) {
  #iconsContainer .navbar-nav {
    flex-direction: row;
  }

  #iconsContainer .nav-item {
    padding: 0 4px;

    i {
      font-size: 1rem;
    }
  }
}

/* #endregion Header*/



/* cart panel */

.cart-panel {
  position: fixed;
  top: 0;
  right: 0;
  width: 400px;
  height: 100vh;
  background-color: white;
  z-index: 1050;
  box-shadow: 2px 0 10px rgba(0, 0, 0, 0.3);
  transform: translateX(100%);
  transition: transform 0.3s ease-in-out;
}

.cart-panel.show {
  transform: translateX(0);
}



/* #region main */

main {

  /* #region Jumbotron */

  /* Classe base comune per tutti i jumbotron */
  .jumbotron-base {
    margin-top: -80px;
    min-height: 50vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding-top: 120px;
  }

  /* Jumbo Homepage */
  .jumbotron-home {
    background-image:
      url(../public/images/sfonod\ jumbo.png),
      linear-gradient(0deg, rgba(232, 93, 117, 1) 0%, rgba(247, 197, 159, 1) 100%);
    background-position: right 30% bottom 20%;

    .hero-title {
      font-size: 75px;
      color: white;
      padding-top: 50px;
    }

    .hero-text {
      font-size: 25px;
      color: white;
    }
  }

  /* Jumbo product-page */
  .jumbotron-product {
    background: linear-gradient(0deg, rgba(232, 93, 117, 1) 0%, rgba(247, 197, 159, 1) 100%);
    background-position: right 30% bottom 20%;
  }

  /* Jumbo condoms-page */
  .jumbotron-condoms {
    background-image: url(https://www.veganok.com/wp-content/uploads/2022/09/Copertine-56.png);
    background-position: right 20% bottom 70%;
  }

  /* Jumbo sextoys */
  .jumbotron-sextoys {
    background-image: url(https://imageproxy.wolt.com/assets/67335e3842b21b5c7ee59883);
    background-position: right 20% bottom 70%;
  }

  /* Stile comune per i titoli dei jumbotron di categoria */
  .jumbotron-category-title {
    font-size: 8rem;
    color: white;
    text-shadow: 2px 2px 3px rgba(255, 255, 255, 0.664);
  }

  @media (max-width: 768px) {
    .jumbotron-base {
      min-height: 50vh;
    }

    .jumbotron-home .hero-title {
      font-size: 3.5rem;
      padding-top: 40px;
    }

    .jumbotron-home .hero-text {
      font-size: 1.2rem;
    }

    .jumbotron-category-title {
      font-size: 4rem;
    }
  }

  .icon_category {
    border: 3px solid transparent;

    &:hover {
      border-bottom: 3px solid #20a39e;
      color: #20a39e;
      font-weight: 500;
      scale: 1.2;
    }
  }

  .card {

    .badge {

      top: 0;
      right: 0;
    }

    .final_price {
      color: red !important;
    }
  }

  section {
    overflow-x: auto;
    overflow-y: hidden;
    margin-bottom: 2rem;

    &::-webkit-scrollbar {
      height: 5px;

      &:hover {
        height: 8px;
      }

    }


    &::-webkit-scrollbar-track {
      background: transparent;
      margin-right: 10px;


    }


    &::-webkit-scrollbar-thumb {
      background: var(--mhd-primary);
      border-radius: 50rem;
      width: 30%;

    }

    &::-webkit-scrollbar {
      display: none;
    }
  }

}

/* Product page */
.add-to-cart {
  background-color: var(--mhd-secondary);
  color: white;
}

.add-to-cart:hover {
  background-color: white;
  color: var(--mhd-secondary);
  border: 1px solid var(--mhd-secondary);
}

.badge-category {
  background-color: var(--mhd-primary);
}

.sticky-details {
  position: sticky;
  top: 80px;
  align-self: flex-start;
}

.image-scroll-container {
  display: flex;
  overflow-x: auto;
  gap: 1rem;
  padding-bottom: 1rem;
  scroll-snap-type: x mandatory;
}

.scroll-image-wrapper {
  flex: 0 0 auto;
  width: 80vw;
  scroll-snap-align: start;

  @media screen and (max-width: 767.9px) {

    width: 400px;

  }
}

.image-scroll-container::-webkit-scrollbar {
  display: none;
}

.mobile-price {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: var(--mhd-lighter);
  box-shadow: 0 -2px 8px rgba(0, 0, 0, 0.1);
  padding: 0.75rem 1rem;
  border-top: 1px solid #ddd;
  z-index: 999;
  border-top-right-radius: 25px;
  border-top-left-radius: 25px;
}

.btn-show-all {
  color: var(--mhd-secondary);
  border: 1px solid var(--mhd-secondary);

  &:hover {
    background-color: var(--mhd-secondary);
    color: white;
  }
}

/* Icona wishlist */
.card .btn {
  transition: transform 0.3s ease;
}

.card .btn:hover {
  transform: scale(1.2);
}

.wishlist-icon .bi-heart {
  transition: transform 0.3s ease, color 0.3s ease;
}

.wishlist-icon:hover .bi-heart {
  transform: scale(1.3);
  color: var(--mhd-primary);
}

.searchbar-dropdown {
  position: fixed;
  top: 120px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
  width: 450px;
  max-width: 90vw;
  margin: 0;
  padding: 1rem;
  border-radius: 18px;
}

/* Icona carrello */
.btn-cart i {
  color: var(--mhd-secondary);

  .bi-bag-check-fill {
    color: var(--mhd-secondary);
  }
}

/* Input quantità */
#quantity {
  max-width: 60px;
  font-size: 0.85rem;
}

footer {
  background-color: var(--mhd-primary-soft);

  a,
  h5 {
    color: var(--mhd-primary);
  }
}

/* Media query */

/* Stile desktop */

@media (max-width: 767.9px) {
  .sticky-details {
    display: none !important;
  }

  .searchbar-dropdown {
    width: 90vw;
    top: 100px;

  }
}

@media (max-width: 576px) {
  .searchbar-dropdown {
    width: 95vw;
    top: 90px;

  }
}

@media (min-width: 767.9px) {
  .image-scroll-container {
    display: block;
    overflow: visible;
    justify-content: center;
  }

  .scroll-image-wrapper {
    width: 100%;
    margin-bottom: 1rem;
  }

  .mobile-price {
    display: none;
  }
}

@media screen and (max-width: 767.9px) {
  .navbar-collapse {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background-color: var(--mhd-primary-soft);
    z-index: 1000;
    width: 100%;
    padding: 0;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

  }

  .navbar-collapse .navbar-nav {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .navbar-collapse .nav-item {
    width: 100%;
    text-align: center;
    padding: 0;
  }

  .navbar-collapse .nav-link {
    display: block;
    padding: 0.4rem;
  }

}