@import 'bootstrap';
@import 'bootstrap-icons';


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --mhd-dark: rgb(49, 48, 48);
  --mhd-darker: black;
  --mhd-light: rgba(255, 255, 255, 0.792);
  --mhd-lighter: white;
  --mhd-primary: #e85d75;
  --mhd-primary-soft: #f7c59f;
  --mhd-secondary: #20a39e;
  --mhd-accent: #3185fc;
}


body {

  h1,
  h2,
  h3 h4 {
    font-family: 'Lexend Deca Variable', sans-serif;
    font-weight: 500;
  }

  font-family: 'Red Hat Text Variable',
  sans-serif;


}

header {
  background-color: var(--mhd-primary-soft);

}

footer {
  background-color: var(--mhd-primary-soft);

  a,
  h5 {
    color: var(--mhd-primary);
  }
}

main {
  .jumbotron {
    min-height: 600px;
    background-image: url(https://img.freepik.com/free-photo/close-up-sex-toys_23-2149151775.jpg?t=st=1746798361~exp=1746801961~hmac=b0a91eda04d2be250b7ad5e82580de2c1e3c334ba5ffa5dbe0104b610674b0ba&w=996);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right 30% bottom 20%;

  }

}

.sticky-details {
  position: sticky;
  top: 80px;
  /* o l'altezza del tuo header/navbar */
  align-self: flex-start;
  /* per assicurarsi che si allinei in alto */
}