.actions {
  opacity: 0;
  transition: opacity 0.3s ease;
}

.card {
  height: 100%;


  box-shadow: 3px 3px 4px 0px #d7bebe;

  &:hover {
    transition: all 0.3s;
    cursor: pointer;
    box-shadow: 3px 3px 7px 4px var(--mhd-primary-soft);

    img {
      scale: 1.05;
    }

    .actions {
      opacity: 1;
    }
  }

  img {
    aspect-ratio: 1;

  }

  h4 {
    font-family: 'Lexend Deca Variable', sans-serif;
    font-weight: 500;
  }

}